@model ChangePasswordViewModel

@{
    ViewData["Title"] = "تعديل كلمة المرور";
}

<div class="row">
    <div class="col-12">
        <h3 class="text-center mb-5">تعديل كلمة المرور</h3>

        <form asp-action="ChangePassword" id="myForm">
            <div class="row mb-3">
                <div class="col-6">
                    <label asp-for="OldPassword"></label>
                    <input asp-for="OldPassword" class="form-control"/>
                    <span asp-validation-for="OldPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-6">
                    <label asp-for="NewPassword"></label>
                    <input asp-for="NewPassword" class="form-control"/>
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="col-6">
                    <label asp-for="ConfirmPassword"></label>
                    <input asp-for="ConfirmPassword" class="form-control"/>
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-warning">تعديل</button>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}